button {
  background: none;
  border: none;
  padding-bottom: 4px;
}
button:hover {
  cursor: pointer;
}
.profile-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  z-index: -999;
  background-image: url('./deep-space-background.jpeg') ;
}
.content-wrapper {
  height: 500px;
}
#welcome {
  font-weight: lighter;
  color: white;
  font-size: 40px;
  margin: 20px 90px 0 90px;
}
#earth {
  width: 400px;
  margin-top: -70px;
  filter: grayscale() contrast(2);
}
